doctype html
head
  link(href='c4.css' rel='stylesheet' type='text/css')
  link(href='profile.css' rel='stylesheet' type='text/css')
  script(src='profile.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  title Connect 4


// Navbar
nav.navbar.navbar-expand-md.bg-custom-2
  // Brand
  a.navbar-brand(href='/' style='font-size: 25pt; color:DAE0F2;')
    b Connect4
  // Toggler/collapsibe Button
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#myNavbar' aria-controls='myNavbar' aria-expanded='false' aria-label='Toggle navigation')
    span#favicon.navbar-toggler-icon
  // Navbar links
  #myNavbar.collapse.navbar-collapse.justify-content-between
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/profile') Profile
      li.nav-item
        a.nav-link(href='/search') Search
      li.nav-item
        a.nav-link(href='/creategame') Create Game
    ul.navbar-nav(ul='')
      li.nav-item
        a.nav-link(href="/logout") Logout
.gameBoard
  .profileBlock(style="display:inline-block;") 
    h1 Create Game
    form(action="/creategame" method='POST')
          p Leave empty for random user
          label User:
          input(name='user' type='text')
          br
          label(for="public") Public
          input(type='radio',name='isPublic' value ='public' id="public")
          br
          label(for="private") Private
          input(type='radio',name='isPublic' value ='private' id="private")
          br
          label(for="fo") Friends Only
          input(type='radio',name='isPublic' value ='fo' id="fo")
          br
          button.viewProf(type='submit' style="margin:10px; background-color:light-green;")  Create Game

    .friendslist
      b
        label Friends
      ul#friend-list
        
        each val in userArr
          - if ((val.friends.includes(reqUser)) && val.username!=reqUser.username)
            form(action="/users/" + val.username method="GET")
              li.friend
                img(src=val.profilePic)
                .name
                  | #{val.username} 
                button.viewProf(type='submit')  view profile
                if val.isOnline
                  span.dot2(style='background-color: green;')
                else
                  span.dot2

// Breaklines to fix formatting of bottom of page
br
br
